.button {
    width: 100%;
    text-transform: uppercase;
    display: block;
    background: hsl(25, 97%, 53%);
    border: none;
    height: 45px;
    border-radius: 40px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 2.4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: hsl(25, 97%, 53%);
        background: hsl(0, 0%, 100%);
    }
}
