.rating-card-wrapper {
    .title {
        margin: 2rem 0 1rem;
        color: hsl(0, 0%, 100%);
        font-size: 1.85rem;
    }

    .description {
        color: hsl(217, 12%, 63%);
        line-height: 1.5;
    }
}
