.card-wrapper {
    width: 410px;
    background: hsl(213, 19%, 18%);
    padding: 2.1rem;
    border-radius: 30px;
}

@media only screen and (max-width: 500px) {
    .card-wrapper {
        width: 92vw;
    }
}
